<!DOCTYPE html>
<html ng-app="cattleControl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Cattle control</title>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/print.css" media="print">
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootsrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
		<script type="text/javascript" src="app/modules/modules.js"></script>
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="app/controllers/navigation-controller.js"></script>
		<script type="text/javascript" src="app/controllers/property-controller.js"></script>
		<script type="text/javascript" src="app/controllers/field-controller.js"></script>
		<script type="text/javascript" src="app/controllers/cattle-controller.js"></script>
		<script type="text/javascript" src="app/controllers/type-controller.js"></script>
		<script type="text/javascript" src="app/controllers/race-controller.js"></script>
		<script type="text/javascript" src="app/controllers/color-controller.js"></script>
		<script type="text/javascript" src="app/controllers/report-controller.js"></script>
	</head>
	<body ng-controller="navigationController as navigation">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="navigation.navbarCollapsed = !navigation.navbarCollapsed" aria-expanded="false" aria-controls="navbar">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#">Fazenda</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse" collapse="navigation.navbarCollapsed">
					<ul class="nav navbar-nav">
						<li ng-class="{active:navigation.isSelected('cattle')}">
							<a href ng-click="navigation.selectTab('cattle')">Gado</a>
						</li>
						<li ng-class="{active:navigation.isSelected('field')}">
							<a href ng-click="navigation.selectTab('field')">Pasto</a>
						</li>
						<li ng-class="{active:navigation.isSelected('property')}">
							<a href ng-click="navigation.selectTab('property')">Propriedade</a>
						</li>
						<li ng-class="{active:navigation.isSelected('type')}">
							<a href ng-click="navigation.selectTab('type')">Tipo</a>
						</li>
						<li ng-class="{active:navigation.isSelected('race')}">
							<a href ng-click="navigation.selectTab('race')">Raça</a>
						</li>
						<li ng-class="{active:navigation.isSelected('color')}">
							<a href ng-click="navigation.selectTab('color')">Cor</a>
						</li>
						<li ng-class="{active:navigation.isSelected('report')}">
							<a href ng-click="navigation.selectTab('report')">Relatório</a>
						</li>
					</ul>
				  	<ul class="nav navbar-nav navbar-right">
					  	<li class="btn-group" dropdown is-open="status.isopen">
					      <a class="dropdown-toggle for-print" ng-disabled="disabled">
					        {{navigation.property.name}}<span class="caret"></span>
					      </a>
					      <ul class="dropdown-menu" role="menu">
					      	<li ng-repeat="property in navigation.properties">
					      		<a href ng-click="navigation.setProperty(property)">{{property.name}}</a>
					      	</li>
					      </ul>
					    </li>
                	</ul>
				</div>
			</div>
		</nav>
		<div id="main" class="container" role="main">
			<h1>{{navigation.property.name}}</h1>
			<div ng-controller="cattleController as cc" class="row" ng-show="cc.show(navigation.isSelected('cattle'))">
				<h2 class="no-print">Inclusão de gado</h2>
				<form class="no-print" name="cattle" ng-submit="cc.save(navigation.property)" novalidate class="col-md-12" role="form">
					<div class="form-group">
					    <label class="col-sm-2" for="number">Número</label>
					    <div class="col-sm-10">
							<input type="number" id="number" ng-model="cc.cattle.number" class="form-control" required \>
						</div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2" for="field">Pasto</label>
					    <div class="col-sm-10">
						    <select ng-model="cc.cattle.field" id="field"  class="form-control" required>
								<option ng-repeat="field in cc.fields | filter:{ property:{uuid:navigation.property.uuid}}" 
									value="{{field.name}}">{{field.name}}</option>
							</select>
						</div>
					</div>					
					<div class="form-group">
					    <label class="col-sm-2" for="type">Tipo</label>
					    <div class="col-sm-10">
							<select ng-model="cc.cattle.type" id="type" class="form-control" required>
								<option ng-repeat="type in cc.types" value="{{type.name}}">{{type.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2" for="type">Raça</label>
					    <div class="col-sm-10">
							<select ng-model="cc.cattle.race" id="race" class="form-control">
								<option ng-repeat="race in cc.races" value="{{race.name}}">{{race.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2" for="hasHorns">Possui chifres</label>
					    <div class="col-sm-10">
							<select ng-model="cc.cattle.hasHorns" id="hasHorns"  class="form-control">
								<option value="sim">Sim</option>
								<option value="não">Não</option>
							</select>
						</div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2" for="age">Idade (anos)</label>
					    <div class="col-sm-10">
							<input type="number" ng-model="cc.cattle.age" class="form-control" id="age" \>
						</div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2" for="color">Cor</label>
					    <div class="col-sm-10">
							<select ng-model="cc.cattle.color" class="form-control" id="color">
								<option ng-repeat="color in cc.colors" value="{{color.name}}">{{color.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Salvar</button>
					    </div>
					</div>
				</form>
				<div class="col-md-12">&nbsp;</div>
				<h2>Lista de gado</h2>
				<table class="col-md-12 table table-striped">
					<tr>
						<th>Pasto</th>
						<th>Numero</th>
						<th>Tipo</th>
						<th>Raça</th>
						<th>Idade</th>
						<th>Cor</th>
						<th>Tem chifres</th>
						<th class="acoes"></th>
					</tr>
					<tr ng-repeat="cattle in cc.cattles | filter:{ property:{uuid:navigation.property.uuid}} | orderBy:field">
						<td>{{cattle.field}}</td>
						<td>{{cattle.number}}</td>
						<td>{{cattle.type}}</td>
						<td>{{cattle.race}}</td>
						<td>{{cattle.age}}</td>
						<td>{{cattle.color}}</td>
						<td>{{cattle.hasHorns}}</td>
						<td class="acoes">
							<a href ng-click="cc.edit(cattle)">Editar</a> | 
							<a href ng-click="cc.delete(cattle)">Excluir</a>
						</td>
					</tr>
				</table>
			</div>
			<div ng-controller="fieldController as fc" class="row" ng-show="navigation.isSelected('field')">
				<h2>Inclusão de pasto</h2>
				<form name="field" ng-submit="fc.save(navigation.property)" novalidate class="col-md-12" role="form">
					<div class="form-group">
					    <label class="col-sm-2" for="name">Nome</label>
					    <div class="col-sm-10">
							<input type="text" id="name" ng-model="fc.field.name" class="form-control" required \>
						</div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Salvar</button>
					    </div>
					</div>
				</form>
				<div class="col-md-12">&nbsp;</div>
				<h2>Lista de pasto</h2>
				<table class="col-md-12 table table-striped table-hover">
					<tr>
						<th>Pasto</th>
						<th></th>
					</tr>
					<tr ng-repeat="field in fc.fields | filter:{ property:{uuid:navigation.property.uuid} }">
						<td>{{field.name}}</td>
						<td class="acoes">
							<a href ng-click="fc.edit(field)">Editar</a> | 
							<a href ng-click="fc.delete(field)">Excluir</a>
						</td>
					</tr>
				</table>
			</div>
			<div ng-controller="propertyController as pc" class="row" ng-show="navigation.isSelected('property')">
				<h2>Inclusão de propriedade</h2>
				<form name="field" ng-submit="pc.save(navigation.properties)" novalidate class="col-md-12" role="form">
					<div class="form-group">
					    <label class="col-sm-2" for="name">Nome</label>
					    <div class="col-sm-10">
							<input type="text" id="name" ng-model="pc.property.name" class="form-control" required \>
						</div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Salvar</button>
					    </div>
					</div>
				</form>
				<div class="col-md-12">&nbsp;</div>
				<h2>Lista de propriedade</h2>
				<table class="col-md-12 table table-striped">
					<tr>
						<th>Propriedade</th>
						<th></th>
					</tr>
					<tr ng-repeat="property in pc.properties">
						<td>{{property.name}}</td>
						<td class="acoes">
							<a href ng-click="pc.edit(property)">Editar</a> | 
							<a href ng-click="pc.delete(property)">Excluir</a>
						</td>						
					</tr>
				</table>
			</div>
			<div ng-controller="typeController as tc" class="row" ng-show="navigation.isSelected('type')">
				<h2>Inclusão de tipo</h2>
				<form name="field" ng-submit="tc.save()" novalidate class="col-md-12" role="form">
					<div class="form-group">
					    <label class="col-sm-2" for="name">Nome</label>
					    <div class="col-sm-10">
							<input type="text" id="name" ng-model="tc.type.name" class="form-control" required \>
						</div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Salvar</button>
					    </div>
					</div>
				</form>
				<div class="col-md-12">&nbsp;</div>
				<h2>Lista de tipo</h2>
				<table class="col-md-12 table table-striped">
					<tr>
						<th>Tipo</th>
						<th></th>
					</tr>
					<tr ng-repeat="type in tc.types">
						<td>{{type.name}}</td>
						<td class="acoes">
							<a href ng-click="tc.edit(type)">Editar</a> | 
							<a href ng-click="tc.delete(type)">Excluir</a>
						</td>						
					</tr>
				</table>
			</div>
			<div ng-controller="raceController as rac" class="row" ng-show="navigation.isSelected('race')">
				<h2>Inclusão de tipo</h2>
				<form name="field" ng-submit="rac.save()" novalidate class="col-md-12" role="form">
					<div class="form-group">
					    <label class="col-sm-2" for="name">Nome</label>
					    <div class="col-sm-10">
							<input type="text" id="name" ng-model="rac.race.name" class="form-control" required \>
						</div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Salvar</button>
					    </div>
					</div>
				</form>
				<div class="col-md-12">&nbsp;</div>
				<h2>Lista de tipo</h2>
				<table class="col-md-12 table table-striped">
					<tr>
						<th>Raça</th>
						<th></th>
					</tr>
					<tr ng-repeat="race in rac.races">
						<td>{{race.name}}</td>
						<td class="acoes">
							<a href ng-click="rac.edit(type)">Editar</a> | 
							<a href ng-click="rac.delete(type)">Excluir</a>
						</td>						
					</tr>
				</table>
			</div>
			<div ng-controller="colorController as coc" class="row" ng-show="navigation.isSelected('color')">
				<h2>Inclusão de cor</h2>
				<form name="field" ng-submit="coc.save()" novalidate class="col-md-12" role="form">
					<div class="form-group">
					    <label class="col-sm-2" for="name">Nome</label>
					    <div class="col-sm-10">
							<input type="text" id="name" ng-model="coc.color.name" class="form-control" required \>
						</div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Salvar</button>
					    </div>
					</div>
				</form>
				<div class="col-md-12">&nbsp;</div>
				<h2>Lista de cor</h2>
				<table class="col-md-12 table table-striped">
					<tr>
						<th>Cor</th>
						<th></th>
					</tr>
					<tr ng-repeat="color in coc.colors">
						<td>{{color.name}}</td>
						<td class="acoes">
							<a href ng-click="coc.edit(color)">Editar</a> | 
							<a href ng-click="coc.delete(color)">Excluir</a>
						</td>						
					</tr>
				</table>
			</div>
			<div ng-controller="reportController as rc" class="row" ng-show="navigation.isSelected('report')">
				<h2>Relatório</h2>
				<div ng-repeat="field in rc.report">
					<h3>pasto: {{field.field.name}}</h3>
					<table class="table table-striped">
						<tr ng-repeat="type in field.types">
							<td class="col-md-6">{{type.type.name}}</td>
							<td class="col-md-6">{{type.qtd}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
